@CHARSET "UTF-8";

.panel .panel-heading {
	font-size: 20px;
}
.panel .panel-heading-condensed {
    padding: 4px 10px;
    font-size: 16px;
}
.panel .panel-heading a {
    color: #FFFFFF;
}
/*.key-value-table {
    font-size: 16px;
}*/
.key-value-table td:first-child {
    font-weight: bold;
    width: 300px;
}
.edit-image-wrapper {
    cursor: pointer;
    float: right;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 24px;
}
.image-file-field {
    cursor: pointer;
    font-size: 50px;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.box-menu-bar {
    float: right;
}
.box-menu-bar a {
    color: #ffffff;
    margin-right: 6px;
    text-decoration: none;
}

.cleared { display: block; clear: both; }

.relative { position: relative; }
.absolute { position: absolute; }

.mt {
    margin-top: 10px;
}


/***  Extra ***/

body {
    font-family: Verdana, 'Trebuchet ms', Tahoma;
}

/** Tree */


.tree-container {
    border: 1px dashed blue;
    padding-bottom: 10px;
}
.list {
    list-style: none outside none;
    margin: 10px 0 30px;
}
.logList {
    margin-top: 20px;
    width: 300px;
    min-height: 300px;
    padding: 5px 15px;
    border: 5px solid #000;
    border-radius: 15px;
}

.logItem {
    margin-bottom: 10px;
}

.logList:before {
    content: 'log';
    padding: 0 5px;
    position: relative;
    top: -1.1em;
    background-color: #FFF;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}


tg-dynamic-directive {
    display: block;
}
